@import "../color.scss";
@import "../fontSize.scss";

$namespace:       layui-table;

.#{$namespace}{
  width: 100%;
  background-color: #fff;
  color: $grayColor;
  tr{transition: all .3s; -webkit-transition: all .3s;}
  th{text-align: left; font-weight: 400;}
  thead tr, &-header, &-tool, &-patch, &-mend, &[lay-even] tr:nth-child(even), &-header, &-header, tbody tr:hover, &-hover, &-click{
    background-color: $lightGrayColor;
  }
  th, td, &[lay-skin="line"], &[lay-skin="row"], &-view, &-header,  &-tool,  &-page,  &-fixed-r,  &-tips-main{
    border-width: 1px solid $borderColor;
  }
  th, td{
    position: relative;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    @include textSize;
  }
  &[lay-skin="line"] th, &[lay-skin="line"] td{
    border-width: 0;
    border-bottom-width: 1px;
  }
  &[lay-skin="row"] th, &[lay-skin="row"] td{
    border-width: 0;
    border-bottom-width: 1px;
  }
  &[lay-skin="nob"] th, &[lay-skin="nob"] td{
    border:none
  }
  img{max-width:100px;}
  &[lay-size="lg"] th, &[lay-size="lg"] td{
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
  }
  &[lay-size="sm"] th, &[lay-size="sm"] td{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  &-view &[lay-size="sm"] &-cell{
    height: 20px;
    line-height: 20px;
  }
}
